@{
    ViewData["Title"] = "Home Page";
}

<div class="@Bs5.text_center">
    <h1 class="@Bs5.display_4">Welcome</h1>
</div>

@section Scripts{
   @* <script src="~/js/Extractor.js" asp-append-version="true"></script>*@
}
